<html>
<head>
    <title>{{ document.title }} | My Website</title>
    <link rel="stylesheet" href="buttons.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="menu button-group">
    <a href="/medic.html" type="button" class="button button-royal button-rounded button-raised">Medic</a>
    <a href="/controlpoint.html" type="button" class="button button-royal button-rounded button-raised">Controlpoint</a>
    <a href="/something.html" type="button" class="button button-royal button-rounded button-raised">Something else</a>
  </div>
  <h1>{{ document.title }}</h1>
  {{{ content }}}
  <div class="scripts">
    
  </div>
</body>
</html>
